.red {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
}

.green {
  width: 50px;
  height: 50px;
  background-color: green;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(86, 253, 20);

  position: relative;
}

.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: relative;
}

.yellow {
  width: 50px;
  height: 50px;
  background-color: yellow;
  position: relative;
}

.plum {
  width: 50px;
  height: 50px;
  background-color: plum;
  position: relative;
}

.box1 {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  animation-name: changeColor;
  animation-duration: 4s;
}

@keyframes changeColor {
  0% {
    background-color: plum;
    border-radius: 0;
  }
  25% {
    background-color: yellow;
    border-radius: 0;
  }
  50% {
    background-color: blue;
    border-radius: 0;
  }
  75% {
    background-color: green;
    border-radius: 0;
  }
  100% {
    background-color: red;
    border-radius: 0;
  }
}
